<div class="jumbotron">
    <h1>Template Project</h1>
    <p>
        Following pages will have different use for them > each have different search query and will fetch JSON data from an API. Pages are named after the API itself. APIs were found from <a target="_blank" href="https://rapidapi.com/hub">RapidAPI</a>, <a target="_blank" href="https://any-api.com/">AnyAPI</a> or <a target="_blank" href="https://m3o.com/">M30</a> (formerly known as Public-APIS.io).
        <a target="_blank" href="https://ejs.co/">EJS</a> was used to display the API data as well as for partials. Also <a target="_blank" href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a> was used for styling.
    </p>
</div>